extends ./main

block variables
    - title = 'reivew';
    - pageClass = 'review-page';
    -
        var reviewName = 'NordVPN';
        var breadcrumbsTitle = 'some review';


block content
    +breadcrumbs([breadcrumbsTitle])
    .container
        -
            const company = getCompany(reviewName);
        .review-top
            .review-top__short.rt-short
                +logoWrapper(company.affiliate,getCorrectLinkSite(company.linkSite))
                    figure.company-logo.rt-short__logo
                        img(src!=`${pathPrefix}img/logos/${company.img}`, alt!=`Company ${company.name} logo`)
                .rt-short__rating-wrapper
                    span.rt-short__rating-wrapper-textual Overal Rating:&nbsp;
                    span.rt-short__rating
                        strong.color-text!=company.overalRating
                    +stars(company.ratingStars)
                .rt-short__btn
                    if(company.affiliate)
                        a.btn.btn_primary&attributes(linkAttr(company.linkSite))
                            span!=company.btnSite
                    else
                        .btn.btn_disabled
                            span no available
                .rt-short__garantee
                    +icon('garantee')
                    span!=company.garantee

            .review-top__text.rt-text
                block topText

            .review-top__facts.rt-facts
                .review-top__title Quick Facts
                table.table.rt-facts__table
                    tr
                        th: strong Registered in:
                        td!=company.registred
                    tr
                        th: strong Countries:
                        td!=company.countries
                    tr
                        th: strong Servers:
                        td!=company.servers
                    tr
                        th: strong Parallel Devices:
                        td!=company.parallelDevices
                    tr
                        th: strong Log policy:
                        td!=company.logPolicy
                    tr
                        th: strong Live support:
                        td!=company.liveSupport

            .review-top__prosCons.rt-prosCons
                .review-top__title Pros And Cons
                ul.rt-prosCons__list.rt-prosCons__list_adv
                    each line in company.adv
                        li
                            .elem-icon.elem-icon_thumbs-up!=line
                if(company.dis.length > 0)
                    hr.rt-prosCons__separator
                    ul.rt-prosCons__list.rt-prosCons__list_dis
                        each line in company.dis
                            li
                                .elem-icon.elem-icon_thumbs-down!=line

            .review-top__systems.rt-systems
                .review-top__title Operating system:
                .rt-systems__list
                    ul
                        each i, item in company.operatingSystem
                            li(class!={'disactive': company.operatingSystem[item] === 0})
                                //- +icon(item)
                                +iconWithTooltip(item, getIconDescription(item))
                .review-top__title Browser extension:
                .rt-systems__list
                    ul
                        each i, item in company.browserExtention
                            li(class!={'disactive': company.browserExtention[item] === 0})
                                //- +icon(item)
                                +iconWithTooltip(item, getIconDescription(item))

                .review-top__title Device:
                .rt-systems__list
                    ul
                        each i, item in company.device
                            li(class!={'disactive': company.device[item] === 0})
                                //- +icon(item)
                                +iconWithTooltip(item, getIconDescription(item))

        .review-pricing__wrapper
            +reviewPricing(company)

    .container.review-inner.auto-fading-container.link-effect-container
        if(!company.affiliate)
            h2(style="--mt:15")!= 'Our Top-Rated Alternatives to ' + (reviewName === "HideMyAss" ? 'HMA' : reviewName)
            -
                var selectedCompany0 = {
                    affiliate: ['NordVPN','ExpressVPN','Private Internet Access']
                }
            +topRating(selectedCompany0).top-rating_numered#Best_VPNs_in_Canada
        block reviewInner

        if(!company.affiliate)
            .text-center.big-cta
                a.btn.btn_primary(href="#Best_VPNs_in_Canada")
                    span See Our Top-Rated Alternatives
